/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import "bulma";
 *= require_tree .
 *= require_self
*/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  /* min-width: 640px; */
  /* height: 100vh; */
}

html {
  font-size: 16px;
  line-height: 22px;
}

body {
  /* margin: 0;
  padding: 0; */
  background-color: #8ED062;
  min-width: 320px;
  height: 100%vh;
  /* font-family: 'Heebo', sans-serif;
  font-weight: 300; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

img {
  max-width: 100%;
}

/* background-size:cover; 
background-repeat:no-repeat;
background-attachment:fixed;
height:100%; */

.app-background {
  background-image: asset_url("WGH-fork-mobile.jpg");
  background-size:cover; 
  background-repeat:no-repeat;
  background-attachment: fixed;
  // position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
} 



/* main app homepage */


.site-header {
  background-color: transparent;
}

.app-title {
  margin: 0 auto;
  padding: 50px 0 15px 0;
  max-width: 85vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.25rem;
  vertical-align: top;
  text-align: center;
  color: #424949;
  margin-bottom: 30%;
}

.q-mark {
  color: #FDFEFE;
}

.site-subhead {
  margin-top: 20px;
}

.app-subhead {
  /* color: #4D5656; */
  color: #424949;
  /* margin: 10px 0 30px 0; */
  margin: 0 auto;
  max-width: 85vw;
  font-family: 'Pacifico', cursive;
  // font-size: 22px;
  // line-height: 30px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  vertical-align: center;
}

.home-search-area {
  /* display: inline-flex;
  align-content: flex-end; */
  margin-top: 5%;
  vertical-align: top;
  width: 75%;
  align-self: center;
  /* align-content: center; */
}

.input.home-search-bar {
  display: block;
  background: #C1E5AA;
  border: #FDFEFE;
}

.or-between {
  // display: inline-block;

  font-weight: bold; 
  text-align: center;
  align-self: center;
  margin: 0 auto;
}

.home-browse-button {
  margin: 10px auto 30px auto;
  text-align: center;
}

.button.main {
  background: #C1E5AA;
  border: #FDFEFE;
  color: #FDFEFE;
  margin: 0 auto;
  font-weight: 400;
  align-self: center;
}


/* profile page */


.app-container.profile {
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #8ED062;
  min-height: 100vh;
}

.top-nav-bar {
  display: block;
  /* margin: 0px 0; */
  overflow: hidden;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start */
}

/* .nav-search-bar {
  vertical-align: top;
  display: inline-block;
  background: #C1E5AA;
  border: #FDFEFE;
} */

.app-initials {
  padding: 10px 0 10px 15px;
  float: left;
  color: #424949;
  position: relative;
  /* font-family: 'Crushed', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.5rem;
  /* align-content: flex-start; */
  vertical-align: top;
}

.nav-q-mark {
  padding: 10px 0;
  float: left;
  color: #FDFEFE;
  position: relative;
  /* font-family: 'Crushed', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.5rem;
  /* align-content: flex-start; */
  vertical-align: top;
}

.new-search-icon {
  padding: 10px 15px 0 0;
  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 18%;
  float: right;
  text-align: right;
}

.top-info {
  clear: both;
  background: #424949;
  padding: 10px;
}

/* .button.top-nav {
  vertical-align: top;
  display: inline-block;
  background: #C1E5AA;
  border: #FDFEFE;
  margin-left: 10px;
  font-weight: 500;
} */

.business-name {
  font-size: 32px;
  line-height: 34px;
  font-weight: 800;
  text-align: center;
  color: #FDFEFE;
  padding: 10px 0;
}

.address-phone {
  color: #F59841;
  font-size: 17px;
  line-height: 19px;
  /* font-family: 'Heebo', sans-serif;
  font-weight: 500; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 4px;
  padding-bottom: 4px;
}

.hours {
  color: #FDFEFE;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 4px;
}

.admin-log-out {
  width: 80%;
  margin: 10px 0 0 0;
  padding: 20px;
  // align-text: center;
}


.info-section {
  display: block;
  padding: 0 10px;
}

.header-with-asset-link {
  display: block;
}

.info-category-header {
  /* display: inine-block; */
  width: 45%;
  display: inline-block;
  /* float: left; */
  /* padding-top: 5px; */
  margin: 20px 0 10px 0;
  /* font-family: 'Crushed', cursive; */
  font-family: 'Pacifico', cursive;
  /* font-size: 2.25rem; */
  font-size: 40px;
  line-height: 44px;
  vertical-align: top;
  text-align: left;
  /* color: #4D5656; */
  color: #424949;
}

.view-icon {
  /* padding: 20px 0 15px 0; */
  margin: 25px 0 5px 0;

  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 40%;
  display: inline-block;
  text-align: right;
  /* float: right; */
  /* text-align: right; */
  font-weight: 600;
}

.fas {
  display: inline-block;
  /* padding: 10px 15px 0 0; */
  font-size: 30px;
  line-height: 30px;
  color: #424949;
  vertical-align: top;
  text-align: center;
}

.view-caption {
  /* color: #FDFEFE; */
  color: #424949;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  padding-top: 5px;
  text-align: right;
  /* vertical-align: top; */
  /* width: 25%; */
}

.expand-link {
  clear: both;
  display: block;
  // font-family: 'Montserrat', sans-serif;
  // font-weight: 800;
  font-family: 'Pacifico', cursive;

  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
/* 
  font-family: 'Crushed', cursive;
  font-size: 17px; */
  /* font-weight: 500; */
  font-style: italic;
  color: #FDFEFE;
}

.info-entry {
  font-size: 16px;
  line-height: 20px;
  display: block;
}



.item-delete {
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  font-style: italic;
  color: #FDFEFE;
  margin-bottom: 5px;
  text-align: right;
}

.add-new-item-label {
  font-weight: 400;
  color: #FDFEFE;

}

.hidden {
  display: none;
}

form {
  margin-bottom: 10px;
  display: block;
}

.file-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.upload-file-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.add-new-item {
  margin: 15px auto 5px auto;
  display: block;
  width: 80%;
}

.label {
  display: block;
}

.save-entry {
  margin: 5px auto 10px auto;
  display: block;
  width: 20%;
  /* text-align: right; */
}

.upload-button {
  display: block;
  text-align: center;
  margin: 5px auto 15px auto;
  width: 60%;
}

.admin-logout {
  margin: 0 auto;
text-align: center;
}

.button.admin-log-out {
  text-align: center;
  margin: 15px auto 5px auto;
  width: 60%;
}


/* log-in view */


.secondary-view-header {
  margin: 0 auto;
  padding: 50px 0 15px 0;
  /* font-family: 'Crushed', cursive; */
  /* font-size: 3rem; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 42px;
  vertical-align: top;
  text-align: center;
  /* color: #4D5656; */
  /* border-bottom: #424949 5px double; */
  color: #424949;
    /* color: #FDFEFE; */
  width: 80%;
  margin-bottom: 10%;
}

.row {
  align-content: center;
}

.app-container.log-in {
  text-align: center;
}

.input.log-in {
  width: 80%;
  margin: 10px 0;
}

.log-in-button-div {
  margin: 25px 0 0 0;
}


/* browse view */


.browse-list-item {
  margin: 0 auto;
  text-align: center;
  color: #424949;
}

.browse-list-item a:link {
  color: #424949;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.browse-list-item a:hover {
  color: #FDFEFE;   
}

.browse-list-item {
  color: red;
  width: 30%;
  height: 200px;
  margin-bottom: 10px;
  // background-color: #1ca0a0;
  background-position: 50%;
  background-image: url('https://media.altpress.com/uploads/2018/07/doggo.jpg');
  border: solid black 2px
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 500px; 
  height: 500px;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0);
  color: white;
}



/* Below, NOTES TO USE & DELETE */


/* .form.label {

} */


/*
  * phones: < 768px
  * tablets: >= 768px
  * desktops: >= 992px
  * big desktops: >= 1200px
*/
/*  
/* 

@media screen and (min-width: 768px) {


At Bulma, breakpoints are set at 768px, 769px, 1024px, 1216px, and 1408px

@media (min-width: 640px){
 
  ...
   
  }
   
  @media (min-width: 768px){
   
  ...
   
  }
   
  @media (min-width: 1024px){
   
  ...
   
  }
   
  @media (min-width: 1200px){
   
  ...
   
  } */ 
  a-scene {
    height: 300px;
    width: 600px;
  }
  #myEmbeddedScene {
    width:50%;
    height:300px;
  }



/* #8ED062
142, 208, 98 */


/* <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,800|Pacifico" rel="stylesheet"> */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive; */


/* 
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:100,300,400,800" rel="stylesheet">

font-family: 'Montserrat', sans-serif;
font-family: 'Abril Fatface', cursive; */

/* <link href="https://fonts.googleapis.com/css?family=Crushed|Heebo:300,500,800" rel="stylesheet"> */


/* <link href="https://fonts.googleapis.com/css?family=Crushed|Montserrat:100,300,400,800" rel="stylesheet"> */



/* 
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,800|Rock+Salt" rel="stylesheet">

font-family: 'Montserrat', sans-serif;
font-family: 'Rock Salt', cursive; */

/* font-family: 'Crushed', cursive;
font-family: 'Heebo', sans-serif; */


/* Pencil Font Awesome
<i class="fas fa-pencil-alt"></i> */


/* Clipboard Font Awesome for daily specials section?
<i class="fas fa-clipboard"></i>
Download SVGPerfect for when you want to use just one icon as a vector on the desktop or in your own icon workflow. */


/* .app-container
.app-background
.site-header
.app-title
.q-mark
.site-subheader
.app-subhead */


/* .top-info
.name-field
.top-search-area
.business-name
.address-phone
.hours
.info-section
.info-category-header
.info-entry */

/*Raman On Empty
The Pesto’s Yet To Come
Willy Lo Mein
Udon Own Me
Knish From A Rose
Beignet and the Jets
Al Dente On the Western Front
Second To Naan
Toast the Rainbow
Squab Goals
Chicken of the Sea of the Land
Brioche With Death
A Queso the Mondays
Goofus and Galette
Muffin But Net
Loaf of My Life
Fondue Diligence
Cheddar Off Dead
The Strudel Is Real */