/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import "bulma";
 *= require_tree .
 *= require_self
*/

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 22px;
}

body {
  background-color: #8ED062;
  min-width: 320px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.app-background {
  background-image: asset_url("WGH-BGonly-V800px.jpg");
  background-size:cover; 
  background-repeat:no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
} 

/* main app homepage */


.app-title {
  margin: 0 auto;
  padding: 60px 0 15px 0;
  max-width: 85vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.25rem;
  text-align: center;
  color: #FDFEFE;
}

.q-mark {
  color: #424949;
}

.fork-imageH.mobile {
    background-image: asset_url("WGH-fork-fullwidth-m.png");
    // width: 100vw;
    height: 16%;
    display: block;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover; 
}

    .fork-imageH.tabletV {
      display: none;
    }

    .fork-imageV.tabletH {
      display: none;
    }

    .fork-imageV.desktop {
      display: none;
    }

.site-subhead {
  margin-top: 20px;
}

.app-subhead {
  color: #424949;
  margin: 2px auto 30px auto;
  max-width: 85vw;
  font-family: 'Pacifico', cursive;
  font-size: 1.75rem;
  line-height: 2rem;
  text-align: center;
}

.home-search-button-row {
  display: flex;
  width: 92%;
  margin: 0 auto;
  align-content: space-between;
  padding-top: 5px;
  padding-left: 18px;

}

.button.main {
  background: #C1E5AA;
  border: #FDFEFE;
  color: #424949;
  margin: 0 auto;
  font-weight: 600;
  align-content: space-between;
}


.home-search-area {
  // display: flex;
  margin: 14px auto;
  padding-bottom: 20px;
  // align-content: space-between;
  // justify-content: center;
  text-align: center;
  width: 77%;
}


.input.home-search-bar.is-mobile {
  display: inline-block;
  // background: #C1E5AA;
  // border: #FDFEFE;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

// .field.is-mobile {
//   width: 85%;
// }

button.button.is-light {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.control.search-bar, .control.search-button {
  display: inline-block;
}


.is-tablet-desktop {
  display: none;
}

.button.is-light.is-tablet-desktop {
  display: none;
}

/* profile page */


.app-container.profile, .app-container.log-in, .app-container.browse {
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #8ED062;
  min-height: 100vh;
}

.top-nav-bar {
  display: block;
  overflow: hidden;
}

.app-initials {
  padding: 10px 0 10px 15px;
  float: left;
  color: #FDFEFE;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.5rem;
  vertical-align: top;
}

.nav-q-mark {
  padding: 10px 0;
  float: left;
  color: #424949;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.5rem;
  vertical-align: top;
}

.new-search-icon {
  padding: 10px 15px 0 0;
  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 18%;
  float: right;
  text-align: right;
}

.top-info {
  clear: both;
  background: #424949;
  padding: 10px;
}

.business-name {
  font-size: 32px;
  line-height: 34px;
  font-weight: 800;
  text-align: center;
  color: #FDFEFE;
  padding: 10px 0;
}

.address-phone {
  color: #F59841;
  font-size: 17px;
  line-height: 19px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 4px;
  padding-bottom: 4px;
}

.hours {
  color: #FDFEFE;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 4px;
}

.file-cta {
  padding-bottom: 3px;
}

.admin-log-out {
  font-weight: 800;
  width: 80%;
  margin: 10px 0 30px 0;
  padding: 20px;
}

.info-section {
  display: block;
  padding: 0 20px;
}

.header-with-asset-link {
  display: block;
}

.info-category-header {
  width: 50%;
  display: inline-block;
  margin: 20px 0 10px 0;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  line-height: 44px;
  vertical-align: top;
  text-align: left;
  color: #FDFEFE;
}

i.fas.fa-question-circle {
  font-size: 1.25rem;
  line-height: 3.55rem;
}


.view-icon {
  /* padding: 20px 0 15px 0; */
  margin: 8% 0 4% 0;

  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 40%;
  float: right;
  text-align: right;
  /* float: right; */
  /* text-align: right; */
  font-weight: 600;
}

.fas {
  display: inline-block;
  /* padding: 10px 15px 0 0; */
  font-size: 30px;
  line-height: 30px;
  color: #424949;
  vertical-align: top;
  text-align: center;
}

.view-caption {
  color: #424949;
  font-size: .8rem;
  line-height: 1rem;
  font-weight: 800;
  padding-top: 5px;
  text-align: right;
}

.expand-link {
  clear: both;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  margin: 5px 0;
  color: #424949;
}

.info-entry {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: block;
}

.item-delete {
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  font-style: italic;
  color: #FDFEFE;
  margin-bottom: 5px;
  text-align: right;
}

.specials-image {
  width: 85%;
  margin: 0 auto;
}

.specials-caption {
  // width: 85%;
  color: #424949;
  font-size: .8rem;
  line-height: 1rem;
  font-weight: 800;
  padding: 15px 0 10px 0;
  text-align: left;
}

.info-category-header.pano-view {
  padding: 15px 20px;
  width: 70%;
}

.add-new-item-label {
  font-weight: 400;
  color: #FDFEFE;
}

.hidden {
  display: none;
}

form {
  margin-bottom: 10px;
  display: block;
}

.file-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.file-label {
  padding-bottom: 10px;
}

.upload-file-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  display: block;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.add-new-item {
  margin: 15px auto 5px auto;
  display: block;
  width: 80%;
}

.label {
  display: block;
}

.save-entry {
  margin: 5px auto 10px auto;
  display: block;
  width: 60%;
}

.upload-button {
  display: block;
  text-align: center;
  margin: 5px auto 15px auto;
  width: 60%;
}

.admin-logout {
  margin: 20px auto;
  text-align: center;
}

.button.admin-log-out {
  margin: 10px auto 30px auto;
  text-align: center;
  width: 60%;
}


/* log-in view */


.interior-logo {
  margin: 0 auto;
  padding: 12% 0 2% 0;
  width: 15%;
}

.secondary-view-header {
  margin: 0 auto;
  padding-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 42px;
  vertical-align: top;
  text-align: center;
  color: #424949;
  width: 80%;
  margin-bottom: 25px;
}

.row {
  align-content: center;
}

.app-container.log-in {
  text-align: center;
}

.input.log-in {
  width: 80%;
  margin: 10px 0;
}

.log-in-button-div {
  margin: 25px 0 0 0;
}


/* browse view */


.browse-list-item {
  margin: 0 auto;
  text-align: center;
  color: #FDFEFE;   
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2rem;
}

.list-divider {
  // font-family: 'Montserrat', sans-serif;
  // font-weight: 800;
  // font-size: 1.75rem;
  // line-height: 2.5rem;
  // text-decoration: none;
  // color: #424949;
  width: 10px;
  text-align: center;
  padding: 5px 0;
}

a-scene {
  height: 300px;
  width: 600px;
}


#myEmbeddedScene {
  width:100%;
  height:300px;
}

/* smaller file fields */

.file.is-small {
  .file-label {
    font-size: 0.75rem;
  }
  
  .fas {
    font-size: 1rem;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.modal-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-35%, -100%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 20rem;
  border-radius: 0.5rem;
}

.modal-content p {
  margin-top: 10px;
}

.italic-modal {
  font-style: italic;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  transform: scale(1.0);
  // transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



// 5E iPhone 320px width
// 5E iPhone 320px width
// 5E iPhone 320px width
// 5E iPhone 320px width
// 5E iPhone 320px width



@media (max-width: 321px){

  .app-title {
    margin: 0 auto;
    padding: 50px 0 5px 0;
    max-width: 85vw;
    font-size: 3.5rem;
    line-height: 3.75rem;
    vertical-align: top;
    text-align: center;
  }
  
  .app-subhead {
    margin: 5px auto;
    max-width: 854vw;
    font-size: 1.75rem;
    line-height: 2rem;
    text-align: center;
    padding-bottom: 15px; 
  }

  // .button.is-large.main-search-tablet-desktop {
  //   display: none;
  // }


  .fork-imageH.mobile {
    height: 15%;
  }


  .info-category-header {
    width: 50%;
    display: inline-block;
    margin: 20px 0 10px 0;
    font-family: 'Pacifico', cursive;
    /* font-size: 2.25rem; */
    font-size: 40px;
    line-height: 44px;
    vertical-align: top;
    text-align: left;
    /* color: #4D5656; */
    // color: #424949;
    color: #FDFEFE;
  }

  .home-search-button-row {
    display: flex;
    width: 87%;
    margin: 0 auto;
    align-content: space-between;
    padding-top: 1px;
    padding-left: 4px;
  
  }
  
  .button.main {
    background: #C1E5AA;
    border: #FDFEFE;
    color: #424949;
    margin: 0 auto;
    font-weight: 600;
    align-content: space-between;
  }
  
  
  .home-search-area {
    display: flex;
    margin: 12px auto 0 auto;
    padding-left: 0 0 0 20px;
    text-align: center;
    width: 90%;
  }
  
  .input.home-search-bar.is-mobile {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 10px 0 15px;

    align-content: space-between;
    flex: left;
  }
  
  .field.is-grouped.is-mobile {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    flex: right;
  }


  
  button.button.is-light {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 15px;
  }
  
  .control.search-bar, .control.search-button {
    display: inline-block;
  }
  
  
  .is-tablet-desktop {
    display: none;
  }
  
  .button.is-light.is-tablet-desktop {
    display: none;
  }

}


///
// tablet VERTICAL view:
// tablet VERTICAL view:
// tablet VERTICAL view:
// tablet VERTICAL view:
// tablet VERTICAL view:




@media (min-width: 768px){

    /* main app homepage */


    a.button.main.is-mobile {
      display: none;
    }

    .app-background {
      background-image: asset_url("WGH-BGonly-V800px.jpg");
      background-size:cover; 
      background-repeat:no-repeat;
      background-attachment:fixed;
      height: 100vh;
      background-color: transparent;
      overflow: hidden;
    } 

    .app-title {
      margin: 0 auto;
      padding: 110px 0 30px 0;
      max-width: 85vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 6rem;
      line-height: 6.5rem;
      text-align: center;
      color: #FDFEFE;
    }

    .q-mark {
      color: #424949;
    }

    .fork-imageH.tabletV {
      background-image: asset_url("WGH-fork-fullwidth-tV.png");
      // width: 100vw;
      height: 18%;
      display: block;
      width: 100%;
      background-repeat:no-repeat;
      background-size:cover; 
    }
    
        .fork-imageH.mobile {
          display: none;
        }
        
        .fork-imageV.tabletH {
          display: none;
        }
        
        .fork-imageV.desktop {
          display: none;
        }

    .site-subhead {
      margin-top: 20px;
      display: block;
    }

    // .app-subhead.is-tablet-desktop {
    //   display: inline;
    // }
    
    .app-subhead.is-tablet-desktop {
      color: #424949;
      font-family: 'Pacifico', cursive;
      font-size: 2.75rem;
      line-height: 3.5rem;
      text-align: center;
      margin: 0 auto;
      padding: 30px 0;
      display: block;
      width: 75%;
    }

    
    .home-search-area {
      display: flex;
      margin: 16px auto 20px auto;
      width: 80%;
    }

    .home-search-button-row {
      display: flex;
      align-content: center;
      width: 80%;
      margin-top: 10px;
      margin: 25px auto;
      align-content: space-between;
    }

    .button.main {
      margin: 0 auto;
      font-weight: 400;
      display: inline-block;
      text-align: center;
    }


    .input.is-large.home-search-bar.is-tablet-desktop {
      display: inline-block;
      margin: 0 auto;
    }


    .field.has-addons.is-mobile {
      display: none;
    }


    .is-mobile {
      display: none;
    }


    // profile page:

    
    .app-container.profile {
      margin: 0 auto;
      padding-bottom: 25px;
      background-color: #8ED062;
      min-height: 100vh;
    }

    .app-container.profile, .app-container.log-in, .app-container.browse {
      margin: 0 auto;
      padding-bottom: 25px;
      background-color: #8ED062;
      min-height: 100vh;
    }

    .app-initials {
      padding: 10px 0 10px 20px;
      float: left;
      color: #424949;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 2.25rem;
      line-height: 2.75rem;
      vertical-align: top;
    }
    
    .nav-q-mark {
      padding: 10px 0;
      float: left;
      color: #FDFEFE;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 2.25rem;
      line-height: 2.75rem;
      vertical-align: top;
    }
    
    .new-search-icon {
      padding: 10px 20px 0 0;
      font-size: 2rem;
      line-height: 3rem;
      color: #FDFEFE;
      vertical-align: top;
      width: 18%;
      float: right;
      text-align: right;
    }
    
    .top-info {
      clear: both;
      background: #424949;
      margin: 0 auto 30px auto;
    }
    
    .business-name {
      font-size: 2.5rem;
      line-height: 2.75rem;
      font-weight: 800;
      text-align: center;
      color: #FDFEFE;
      padding: 10px 0;
    }
    
    .address-phone {
      color: #F59841;
      font-size: 1.5rem;
      line-height: 2.25rem;
      /* font-family: 'Heebo', sans-serif;
      font-weight: 500; */
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      text-align: center;
      margin-top: 4px;
      padding-bottom: 4px;
    }
    
    .hours {
      color: #FDFEFE;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      margin-top: 4px;
    }

    .upload-file-label {
      font-weight: 800;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      display: block;
      margin-top: 10px;
      letter-spacing: -0.5px;
    }

    // .admin-log-out {
    //   width: 80%;
    //   margin: 10px 0 0 0;
    //   padding: 20px;
    // }
    
    .info-category-header.pano-view {
      padding: 0 75px;
      width: 60%;
    }

    .info-section {
      display: block;
      padding: 30px 75px;
    }
    
    .header-with-asset-link {
      display: block;
    }

    .info-category-header {
      width: 60%;
      display: inline-block;
      font-family: 'Pacifico', cursive;
      font-size: 3rem;
      line-height: 3.75rem;
      vertical-align: top;
      text-align: left;
      color: #FDFEFE;
    }


    .info-category-header.info-category-header.pano-view {
      width: 60%;
      display: inline-block;
      font-family: 'Pacifico', cursive;
      font-size: 3rem;
      line-height: 3.75rem;
      vertical-align: top;
      text-align: left;
      color: #FDFEFE;
    }

    
    .fas {
      display: inline-block;
      /* padding: 10px 15px 0 0; */
      font-size: 30px;
      line-height: 30px;
      color: #424949;
      vertical-align: top;
      text-align: center;
    }

    .view-icon {
      /* padding: 20px 0 15px 0; */
      margin: 30px 0 5px 0;
    
      // font-size: 22px;
      // line-height: 24px;
      vertical-align: top;
      width: 40%;
      display: inline-block;
      text-align: right;
      font-weight: 600;
    }
    
    .view-caption {
      color: #424949;
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: 800;
      padding-top: 5px;
      text-align: right;
    }
    
    .expand-link {
      clear: both;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 5px;
      color: #424949;
    }
    
    .info-entry {
      font-size: 16px;
      line-height: 20px;
      display: block;
      
    }
    
    .item-delete {
      font-size: 13px;
      line-height: 15px;
      font-weight: 600;
      font-style: italic;
      color: #FDFEFE;
      margin-bottom: 5px;
      text-align: right;
    }
    
    .add-new-item-label {
      font-weight: 400;
      color: #FDFEFE;
    }
    
    .hidden {
      display: none;
    }
    
    form {
      margin-bottom: 10px;
      display: block;
    }
    
    .file-label {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      display: block;
      margin-top: 10px;
      letter-spacing: -0.5px;
    }
    
    .upload-file-label {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      display: block;
      margin-top: 10px;
      letter-spacing: -0.5px;
    }
    
    input.add-new-item {
      margin: 15px auto 5px auto;
      display: block;
      width: 60%;
    }
    
    .label.upload-file-label{
      display: block;
      font: 1.5rem;
      line-height: 2rem;
    }
    
    .save-entry {
      margin: 5px auto 10px auto;
      display: block;
      width: 60%;
    }
    
    .upload-button {
      display: block;
      text-align: center;
      margin: 5px auto 15px auto;
      width: 60%;
    }
    
    .admin-logout {
      margin: 0 auto;
      text-align: center;
      padding-bottom: 30px;
    }
    
    // .button.admin-log-out {
    //   text-align: center;
    //   margin: 15px auto 5px auto;
    //   width: 60%;
    // }

// interior pages

    .browse-list-item {
      margin: 0 auto;
      text-align: center;
      color: #FDFEFE;   
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 22px;
      line-height: 45px;
    }

    .browse-list-item {
      font-size: .75rem;
      font-size: 1.75rem;
    }
  }    


////
// tablet HORIZONTAL:
// tablet HORIZONTAL:
// tablet HORIZONTAL:
// tablet HORIZONTAL:
// tablet HORIZONTAL:


@media (min-width: 1024px){
   
    /* main app homepage */


    .input.home-search-bar.is-mobile {
      display: none;
    }

    a.button.main.mobile {
      display: none;
    }

    .fork-imageH.mobile {
      display: none;
    }
    
    .fork-imageH.tabletV {
      display: none;
    }
    
    .fork-imageV.desktop {
      display: none;
    }

    .app-background {
      background-image: asset_url("WGH-BGonly-H1300px.jpg");
      background-size:cover; 
      background-repeat:no-repeat;
      background-attachment:fixed;
      height: 100vh;
      background-color: transparent;
    } 

    // .admin-login-link {
    //   font-size: 1.25rem;
    //   line-height: 2.5rem;
    //   font-weight: 500;
    //   float: left;
    //   margin: 25px 0 0 30px;
    //   color: #424949;
    // }


    .fork-imageV.tabletH {
      background-image: asset_url("WGH-fork-fullheight-tH.png");
      height: 100vh;
      width: 20%;
      float: right;
      display: block;
      background-repeat: no-repeat;
      margin-right: 10%;
  }

    .app-title {
      margin: 0 85px 18px 200px;
      max-width: 60vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      border: #FDFEFE;
      font-size: 6rem;
      line-height: 6.25rem;
      text-align: center;
      float: left;
    }

    .q-mark {
      color: #424949;
    }
    
    // .app-subhead.is-mobile {
    //   display: none;
    // }

    .app-subhead.is-tablet-desktop {
      color: #424949;
      margin: 20px 50px 20px 50px;
      font-family: 'Pacifico', cursive;
      font-size: 2.75rem;
      line-height: 3.25rem;
      text-align: center;
    }
  

    .home-search-button-row {
      display: flex;
      // align-content: center;
      margin: 10px 100px 10px 170px;
      width: 60%;
      // margin-top: 10px;
      margin: 0 auto;
      align-content: space-between;
    }
    
    .home-browse-button {
      // display: inline-block;
      text-align: center;
      flex: left;
      vertical-align: top;
      margin-right: 4px;
    }

    // .home-browse-button a {
    // flex: 0%;
    // }
    
    .home-geolocate-button {
      // margin: 10px auto 30px auto;
      text-align: center;
      flex: right;
      vertical-align: top;
      margin-left: 3px;
    }
    
    .button.main {
      background: #C1E5AA;
      border: #FDFEFE;
      color: #424949;
      margin: 0 auto;
      font-weight: 400;
      // align-self: center;
    }

    .home-search-area {
      // display: flex;
      width: 60%;
      margin: 20px 100px 10px 70px;

      // margin: 0 auto;
      // align-content: space-between;


    }

    .input.is-large.home-search-bar.is-tablet-desktop {
      // display: inline-block;
      background: #C1E5AA;
      border: #FDFEFE;
      margin: 0 auto;
    }


    .business-name {
      font-size: 3rem;
      line-height: 3.75rem;
      // font-weight: 800;
      // text-align: center;
      // color: #FDFEFE;
      // padding: 10px 0;
    }
    
    .address-phone {
      color: #F59841;
      font-size: 1.5rem;
      line-height: 2.25rem;
      /* font-family: 'Heebo', sans-serif;
      font-weight: 500; */
      // font-family: 'Montserrat', sans-serif;
      // font-weight: 600;
      // text-align: center;
      // margin-top: 4px;
      // padding-bottom: 4px;
    }
    
    .hours {
      color: #FDFEFE;
      font-size: 1.5rem;
      line-height: 2.25rem;
      font-weight: 600;
      text-align: center;
      margin-top: 4px;
    }

    label.upload-file-label {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }


}       



// desktop 1200
// desktop 1200
// desktop 1200
// desktop 1200
// desktop 1200


    /* main app homepage */
  @media (min-width: 1200px) {

    .input.home-search-bar.is-mobile {
      display: none;
    }

    .a.button.main.mobile {
      display: none;
    }

    .app-background {
      background-image: asset_url("WGH-BGonly-H1300px.jpg");
      background-size: cover; 
      background-repeat: no-repeat;
      background-attachment: fixed;
      // position: relative;
      height: 100vh;
      background-color: transparent;
      overflow: hidden;
    } 

    .app-title {
      margin: 0 150px 18px 250px;
      max-width: 60vw;
    }


    .fork-imageV.desktop {
      background-image: asset_url("WGH-fork-fullheight-tH.png");
      // width: 100vw;
      height: 100vh;
      width: 18%;
      display: block;
      background-repeat: no-repeat;
      background-size: cover; 
      margin-right: 150px;
      float: right;
  }


    .fork-imageH.mobile {
      display: none;
    }
    
    .fork-imageH.tabletV {
      display: none;
    }
    
    .fork-imageV.tabletH {
      display: none;
    }

    .input.is-mobile {
      display: none;
    }
    
}





