/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import "bulma";
 *= require_tree .
 *= require_self
*/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  /* min-width: 640px; */
  /* height: 100vh; */
}

body {
  /* margin: 0;
  padding: 0; */
  background-color: #8ED062;
  min-width: 320px;
  height: 100vh;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* background-size:cover; 
background-repeat:no-repeat;
background-attachment:fixed;
height:100%; */

.app-background {
  background-image: url(WGH-fork-mobile.jpg);
  background-size:cover; 
  background-repeat:no-repeat;
  background-attachment:fixed;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
} 



/* main app homepage */


.site-header {
  background-color: transparent;
}

.app-title {
  margin: 0 auto;
  padding: 40px 0 15px 0;
  font-family: 'Crushed', cursive;
  /* font-size: 3rem; */
  font-size: 65px;
  line-height: 70px;
  vertical-align: top;
  text-align: center;
  /* color: #4D5656; */
  color: #424949;
  width: 80%;
  margin-bottom: 30%;
}

.q-mark {
  color: #FDFEFE;
}

.site-subhead {
  margin-top: 20px;
}

.app-subhead {
  /* color: #4D5656; */
  color: #424949;
  /* margin: 10px 0 30px 0; */
  margin: 0 auto;
  width: 80%;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  /* font-weight: bold; */
  text-align: center;
}

.home-search-area {
  /* display: inline-flex;
  align-content: flex-end; */
  margin-top: 5%;
  vertical-align: top;
  width: 75%;
  align-self: center;
  /* align-content: center; */
}

.input.home-search-bar {
  display: block;
  background: #C1E5AA;
  border: #FDFEFE;
}

.or-between {
  display: inline-block;
  font-weight: bold; 
  text-align: center;
  align-self: center;
  margin: 0 auto;
}

/* .home-browse-button {
  margin: 0 auto;
  align-self: center;
} */

.button.main {
  background: #C1E5AA;
  border: #FDFEFE;
  margin: 0 auto;
  font-weight: 500;
  align-self: center;
}




/* profile page */


.app-container.profile {
  margin: 0;
  padding: 0;
  background-color: #8ED062;
  min-height: 100vh;
}

.top-nav-bar {
  display: block;
  /* margin: 0px 0; */
  overflow: hidden;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start */
}

/* .nav-search-bar {
  vertical-align: top;
  display: inline-block;
  background: #C1E5AA;
  border: #FDFEFE;
} */

.app-initials {
  padding: 10px 0 10px 15px;
  float: left;
  position: relative;
  font-family: 'Crushed', cursive;
  font-size: 1.75rem;
  line-height: 1.5rem;
  /* align-content: flex-start; */
  vertical-align: top;
  width: 18%;
}

.nav-q-mark {
  color: #FDFEFE;
  vertical-align: top;
}

.new-search-icon {
  padding: 10px 15px 0 0;
  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 18%;
  float: right;
  text-align: right;
}

.top-info {
  clear: both;
  background: #424949;
  padding: 10px;
}

/* .button.top-nav {
  vertical-align: top;
  display: inline-block;
  background: #C1E5AA;
  border: #FDFEFE;
  margin-left: 10px;
  font-weight: 500;
} */

.business-name {
  font-size: 32px;
  line-height: 34px;
  font-weight: 800;
  text-align: center;
  color: #FDFEFE;
  padding: 10px 0;
}

.address-phone {
  color: #F59841;
  font-size: 17px;
  line-height: 19px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 4px;
  padding-bottom: 4px;
}

.hours {
  color: #FDFEFE;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  margin-top: 4px;
}

.admin-log-out {
  width: 80%;
  margin-top: 10px;
  padding: 20px;
}


.info-section {
  display: block;
  padding: 0 10px;
}

.header-with-asset-link {
  display: block;
}

.info-category-header {
  /* display: inine-block; */
  width: 70%;
  display: inline-block;
  /* float: left; */
  padding-top: 5px;
  font-family: 'Crushed', cursive;
  /* font-size: 2.25rem; */
  font-size: 40px;
  /* line-height: 2.25rem; */
  font-size: 42px;
  vertical-align: top;
  text-align: left;
  /* color: #4D5656; */
  color: #424949;
}

.menu-icon {
  padding: 10px 15px 0 0;
  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 20%;
  display: inline-block;
  /* float: right; */
  text-align: right;
  font-weight: 500;
}

.fa-utensils {
  display: inline-block;
  padding: 10px 15px 0 0;
  font-size: 30px;
  line-height: 30px;
  color: #FDFEFE;
  vertical-align: top;
  width: 20%;
  text-align: left;
}

.see-menu {
  color: #FDFEFE;
}

.expand-link {
  clear: both;
  display: block;
  font-family: 'Crushed', cursive;
  font-size: 17px;
  /* font-weight: 500; */
  font-style: italic;
  color: #FDFEFE;
}

.info-entry {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.item-delete {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  font-style: italic;
  text-decoration-color: #FDFEFE;
  margin-bottom: 5px;
  text-align: right;
}

.add-new-item-label {
  font-weight: 300;
  color: #FDFEFE;
}

form {
  margin-bottom: 10px;
}

.add-new-item-label {
  width: 75%;
  display: block;
}

.save-entry {
  margin: 10px 0;
  display: block;
  width: 20%;
}

.upload-button {

}

.admin-log-out {
  margin-bottom: 30px;
  width: 60%;
}


/* log-in view */


.log-in-header {
  margin: 0 auto;
  padding: 40px 0 15px 0;
  font-family: 'Crushed', cursive;
  /* font-size: 3rem; */
  font-size: 40px;
  line-height: 44px;
  vertical-align: top;
  text-align: center;
  /* color: #4D5656; */
  color: #424949;
  width: 80%;
  margin-bottom: 30%;

}

.row {
  align-content: center;
}

.app-container.log-in {
  text-align: center;
}

.input.log-in {
  width: 80%;
  margin: 10px 0;
}



/* browse view */






/* Bewlow, NOTES TO USE & DELETE */


/* .form.label {

} */

/*
  * phones: < 768px
  * tablets: >= 768px
  * desktops: >= 992px
  * big desktops: >= 1200px
*/
/*  
/* 

@media screen and (min-width: 768px) {


/* #8ED062
142, 208, 98 */

/* <link href="https://fonts.googleapis.com/css?family=Crushed|Heebo:300,500,800" rel="stylesheet"> */

/* font-family: 'Crushed', cursive;
font-family: 'Heebo', sans-serif; */


/* .app-container
.app-background
.site-header
.app-title
.q-mark
.site-subheader
.app-subhead */


/* .top-info
.name-field
.top-search-area
.business-name
.address-phone
.hours
.info-section
.info-category-header
.info-entry */

/* 
At Bulma, breakpoints are set at 768px, 769px, 1024px, 1216px, and 1408px

@media (min-width: 640px){
 
  ...
   
  }
   
  @media (min-width: 768px){
   
  ...
   
  }
   
  @media (min-width: 1024px){
   
  ...
   
  }
   
  @media (min-width: 1200px){
   
  ...
   
  } */ 
  a-scene {
    height: 300px;
    width: 600px;
  }
  #myEmbeddedScene {
    width:50%;
    height:300px;
  }
