/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import "bulma";
 *= require_tree .
 *= require_self
*/

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  /* min-width: 640px; */
  /* height: 100vh; */
}

html {
  font-size: 16px;
  line-height: 22px;
}

body {
  /* margin: 0;
  padding: 0; */
  background-color: #8ED062;
  min-width: 320px;
  height: 100vh;
  /* font-family: 'Heebo', sans-serif;
  font-weight: 300; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

/* background-size:cover; 
background-repeat:no-repeat;
background-attachment:fixed;
height:100%; */

.app-background {
  background-image: asset_url("WGH-BGonly-V800px.jpg");
  background-size:cover; 
  background-repeat:no-repeat;
  background-attachment:fixed;
  // position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
} 


/* main app homepage */

.admin-login-link {
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: 500;
  float: right;
  margin: 15px 20px 0 0;
  color: #424949;
}

.site-header {
  background-color: transparent;
}

.app-title {
  margin: 0 auto;
  padding: 40px 0 15px 0;
  max-width: 85vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3.25rem;
  line-height: 3.75rem;
  vertical-align: top;
  text-align: center;
  color: #FDFEFE;

  // margin-bottom: 5%;
}

.q-mark {
  color: #424949;
  // color: #FDFEFE;
}


.fork-imageH.mobile {
    background-image: asset_url("WGH-fork-fullwidth-m.png");
    // width: 100vw;
    height: 20%;
    display: block;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover; 
}

.fork-imageH.tabletV {
  display: none;
}

.fork-imageH.tabletH {
  display: none;
}

.fork-imageH.desktop {
  display: none;
}

.site-subhead {
  margin-top: 20px;
}

.app-subhead {
  /* color: #4D5656; */
  color: #424949;
  /* margin: 10px 0 30px 0; */
  margin: 0 auto;
  max-width: 85vw;
  font-family: 'Pacifico', cursive;
  // font-size: 22px;
  // line-height: 30px;
  font-size: 1.75rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: center;
}

.home-search-area {
  /* display: inline-flex;
  align-content: flex-end; */
  margin-top: 7%;
  vertical-align: top;
  width: 75%;
  align-self: center;
  /* align-content: center; */
}

.input.home-search-bar {
  display: block;
  background: #C1E5AA;
  border: #FDFEFE;
}

.or-between {
  // display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  align-self: center;
  margin: 5px auto 10px auto;
  color: #424949;
}

.home-search-button.row {
  display: block;
}

.home-browse-button {
  // display: inline-block;
  text-align: center;
  float: right;
  vertical-align: top;
}

.button.main {
  background: #C1E5AA;
  border: #FDFEFE;
  color: #424949;
  margin: 0 auto;
  font-weight: 400;
  align-self: center;
}

.home-geolocate-button {
  // margin: 10px auto 30px auto;
  text-align: center;
  float: left;
  vertical-align: top;
}

.tablet-desktop {
  display: none;
}

.is-large.tablet-desktop {
  display: none;
}


/* profile page */


.app-container.profile {
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #8ED062;
  min-height: 100vh;
}

.top-nav-bar {
  display: block;
  overflow: hidden;
}

.app-initials {
  padding: 10px 0 10px 15px;
  float: left;
  color: #424949;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.5rem;
  vertical-align: top;
}

.nav-q-mark {
  padding: 10px 0;
  float: left;
  color: #FDFEFE;
  position: relative;
  /* font-family: 'Crushed', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.5rem;
  /* align-content: flex-start; */
  vertical-align: top;
}

.new-search-icon {
  padding: 10px 15px 0 0;
  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 18%;
  float: right;
  text-align: right;
}

.top-info {
  clear: both;
  background: #424949;
  padding: 10px;
}

.business-name {
  font-size: 32px;
  line-height: 34px;
  font-weight: 800;
  text-align: center;
  color: #FDFEFE;
  padding: 10px 0;
}

.address-phone {
  color: #F59841;
  font-size: 17px;
  line-height: 19px;
  /* font-family: 'Heebo', sans-serif;
  font-weight: 500; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 4px;
  padding-bottom: 4px;
}

.hours {
  color: #FDFEFE;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 4px;
}

.admin-log-out {
  width: 80%;
  margin: 10px 0 0 0;
  padding: 20px;
}

.info-section {
  display: block;
  padding: 0 10px;
}

.header-with-asset-link {
  display: block;
}

.info-category-header {
  /* display: inine-block; */
  width: 45%;
  display: inline-block;
  /* float: left; */
  /* padding-top: 5px; */
  margin: 20px 0 10px 0;
  /* font-family: 'Crushed', cursive; */
  font-family: 'Pacifico', cursive;
  /* font-size: 2.25rem; */
  font-size: 40px;
  line-height: 44px;
  vertical-align: top;
  text-align: left;
  /* color: #4D5656; */
  // color: #424949;
  color: #FDFEFE;
}

.view-icon {
  /* padding: 20px 0 15px 0; */
  margin: 25px 0 5px 0;

  font-size: 22px;
  line-height: 24px;
  color: #FDFEFE;
  vertical-align: top;
  width: 40%;
  display: inline-block;
  text-align: right;
  /* float: right; */
  /* text-align: right; */
  font-weight: 600;
}

.fas {
  display: inline-block;
  /* padding: 10px 15px 0 0; */
  font-size: 30px;
  line-height: 30px;
  color: #424949;
  vertical-align: top;
  text-align: center;
}

.view-caption {
  /* color: #FDFEFE; */
  color: #424949;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  padding-top: 5px;
  text-align: right;
  /* vertical-align: top; */
  /* width: 25%; */
}

.expand-link {
  clear: both;
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
  font-style: italic;
  color: #424949;
}

.info-entry {
  font-size: 16px;
  line-height: 20px;
  display: block;
  
}

.item-delete {
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  font-style: italic;
  color: #FDFEFE;
  margin-bottom: 5px;
  text-align: right;
}

.add-new-item-label {
  font-weight: 400;
  color: #FDFEFE;
}

.hidden {
  display: none;
}

form {
  margin-bottom: 10px;
  display: block;
}

.file-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.upload-file-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  display: block;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.add-new-item {
  margin: 15px auto 5px auto;
  display: block;
  width: 80%;
}

.label {
  display: block;
}

.save-entry {
  margin: 5px auto 10px auto;
  display: block;
  width: 60%;
}

.upload-button {
  display: block;
  text-align: center;
  margin: 5px auto 15px auto;
  width: 60%;
}

.admin-logout {
  margin: 0 auto;
  text-align: center;
}

.button.admin-log-out {
  text-align: center;
  margin: 15px auto 5px auto;
  width: 60%;
}


/* log-in view */


.secondary-view-header {
  margin: 0 auto;
  padding: 50px 0 15px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 42px;
  vertical-align: top;
  text-align: center;
  color: #FDFEFE;
  width: 80%;
  margin-bottom: 25px;
}

.secondary-vew-header-q {
  color: #424949;
}

.row {
  align-content: center;
}

.app-container.log-in {
  text-align: center;
}

.input.log-in {
  width: 80%;
  margin: 10px 0;
}

.log-in-button-div {
  margin: 25px 0 0 0;
}


/* browse view */


.browse-list-item {
  margin: 0 auto;
  text-align: center;
  color: #FDFEFE;   
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.list-divider {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #424949;
  text-align: center;
}

a-scene {
  height: 300px;
  width: 600px;
}

#myEmbeddedScene {
  width:50%;
  height:300px;
}

/* smaller file fields */

.file.is-small {
  .file-label {
    font-size: 0.75rem;
  }
  
  .fas {
    font-size: 1rem;
  }
}

///
// tablet V view:

@media (min-width: 768px){

    /* main app homepage */

    input.home-search-bar.mobile {
      display: none;
    }

    a.button.main.mobile {
      display: none;
    }

    .app-background {
      background-image: asset_url("WGH-BGonly-V800px.jpg");
      background-size:cover; 
      background-repeat:no-repeat;
      background-attachment:fixed;
      // position: relative;
      height: 100vh;
      background-color: transparent;
      overflow: hidden;
    } 

    .admin-login-link {
      font-size: 1.25rem;
      line-height: 2.5rem;
      font-weight: 500;
      float: right;
      margin: 25px 30px 0 0;
      color: #424949;
    }

    .site-header {
      background-color: transparent;
    }

    .app-title {
      margin: 0 auto;
      padding: 70px 0 5px 0;
      max-width: 85vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 6rem;
      line-height: 6.5rem;
      vertical-align: top;
      text-align: center;
      color: #424949;
      // margin-bottom: 5%;
    }


    .q-mark {
      color: #FDFEFE;
    }

    .fork-imageH.tabletV {
      background-image: asset_url("WGH-fork-fullwidth-tV.png");
      // width: 100vw;
      height: 25%;
      display: block;
      width: 100%;
      background-repeat:no-repeat;
      background-size:cover; 
    }
    
        .fork-imageH.mobile {
          display: none;
        }
        
        .fork-imageV.tabletH {
          display: none;
        }
        
        .fork-imageV.desktop {
          display: none;
        }

    .site-subhead {
      margin-top: 20px;
    }
    
    .app-subhead {
      color: #424949;
      margin: 0 auto;
      max-width: 85vw;
      font-family: 'Pacifico', cursive;
      // font-size: 22px;
      // line-height: 30px;
      font-size: 2.75rem;
      line-height: 3.5rem;
      text-align: center;
      vertical-align: top;
    }
    
    .home-search-area {
      margin-top: 5%;
      vertical-align: top;
      width: 70%;
      // align-self: center;
      /* align-content: center; */
    }
    
    .input.home-search-bar {
      display: block;
      background: #C1E5AA;
      border: #FDFEFE;
    }
    
    .or-between {
      // display: inline-block;
    
      font-weight: bold; 
      text-align: center;
      align-self: center;
      margin: 0 auto 10px auto;

    }
    
    .home-browse-button {
      margin: 10px auto 30px auto;
      text-align: center;
    }
    
    .button.main {
      background: #C1E5AA;
      border: #FDFEFE;
      color: #424949;
      margin: 0 auto;
      font-weight: 400;
      display: inline-block;
      text-align: center;
      // align-self: center;
    }

    .home-geolocate-button {
      // margin: 10px auto 30px auto;
      text-align: center;
      float: left;
      vertical-align: top;
    }
  

    // profile page:

    .app-container.profile {
      margin: 0 auto;
      padding-bottom: 25px;
      background-color: #8ED062;
      min-height: 100vh;
//background-texture on interior pages:
      background-image: asset_url("WGH-BGonly-V800px.jpg");
      background-size:cover; 
      background-repeat:no-repeat;
      background-attachment:fixed;
      // position: relative;
      height: 100vh;
      background-color: transparent;
      overflow: hidden;
    }
    
    // .top-nav-bar {
    //   display: block;
    //   overflow: hidden;
    // }
    
    .app-initials {
      padding: 10px 0 10px 20px;
      float: left;
      color: #424949;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 2.25rem;
      line-height: 2.75rem;
      vertical-align: top;
    }
    
    .nav-q-mark {
      padding: 10px 0;
      float: left;
      color: #FDFEFE;
      position: relative;
      /* font-family: 'Crushed', cursive; */
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 2.25rem;
      line-height: 2.75rem;
      /* align-content: flex-start; */
      vertical-align: top;
    }
    
    .new-search-icon {
      padding: 10px 20px 0 0;
      font-size: 2rem;
      line-height: 3rem;
      color: #FDFEFE;
      vertical-align: top;
      width: 18%;
      float: right;
      text-align: right;
    }
    
    .top-info {
      clear: both;
      background: #424949;
      padding: 10px;
    }
    
    .business-name {
      font-size: 2.5rem;
      line-height: 2.75rem;
      font-weight: 800;
      text-align: center;
      color: #FDFEFE;
      padding: 10px 0;
    }
    
    .address-phone {
      color: #F59841;
      font-size: 1.5rem;
      line-height: 2.25rem;
      /* font-family: 'Heebo', sans-serif;
      font-weight: 500; */
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      text-align: center;
      margin-top: 4px;
      padding-bottom: 4px;
    }
    
    .hours {
      color: #FDFEFE;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      margin-top: 4px;
    }
    
    .admin-log-out {
      width: 80%;
      margin: 10px 0 0 0;
      padding: 20px;
    }
    
    .info-section {
      display: block;
      padding: 0 10px;
    }
    
    .header-with-asset-link {
      display: block;
    }
    
    .info-section {
      padding: 15px 50px;
    }

    .info-category-header {
      /* display: inine-block; */
      width: 45%;
      display: inline-block;
      /* float: left; */
      /* padding-top: 5px; */
      margin: 20px 0 10px 0;
      /* font-family: 'Crushed', cursive; */
      font-family: 'Pacifico', cursive;
      /* font-size: 2.25rem; */
      font-size: 3rem;
      line-height: 3.75rem;
      vertical-align: top;
      text-align: left;
      /* color: #4D5656; */
      // color: #424949;
      color: #FDFEFE;
    }
    
    .view-icon {
      /* padding: 20px 0 15px 0; */
      margin: 25px 0 5px 0;
    
      // font-size: 22px;
      // line-height: 24px;
      vertical-align: top;
      width: 40%;
      display: inline-block;
      text-align: right;
      /* float: right; */
      /* text-align: right; */
      font-weight: 600;
    }
    
    .fas {
      display: inline-block;
      /* padding: 10px 15px 0 0; */
      font-size: 30px;
      line-height: 30px;
      color: #424949;
      vertical-align: top;
      text-align: center;
    }
    
    .view-caption {
      /* color: #FDFEFE; */
      color: #424949;
      font-size: 14px;
      line-height: 16px;
      font-weight: 800;
      padding-top: 5px;
      text-align: right;
      /* vertical-align: top; */
      /* width: 25%; */
    }
    
    .expand-link {
      clear: both;
      display: block;
      font-family: 'Pacifico', cursive;
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 5px;
      font-style: italic;
      color: #424949;
    }
    
    .info-entry {
      font-size: 16px;
      line-height: 20px;
      display: block;
      
    }
    
    .item-delete {
      font-size: 13px;
      line-height: 15px;
      font-weight: 600;
      font-style: italic;
      color: #FDFEFE;
      margin-bottom: 5px;
      text-align: right;
    }
    
    .add-new-item-label {
      font-weight: 400;
      color: #FDFEFE;
    }
    
    .hidden {
      display: none;
    }
    
    form {
      margin-bottom: 10px;
      display: block;
    }
    
    .file-label {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      display: block;
      margin-top: 10px;
      letter-spacing: -0.5px;
    }
    
    .upload-file-label {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      display: block;
      margin-top: 10px;
      letter-spacing: -0.5px;
    }
    
    .add-new-item {
      margin: 15px auto 5px auto;
      display: block;
      width: 80%;
    }
    
    .label {
      display: block;
    }
    
    .save-entry {
      margin: 5px auto 10px auto;
      display: block;
      width: 60%;
    }
    
    .upload-button {
      display: block;
      text-align: center;
      margin: 5px auto 15px auto;
      width: 60%;
    }
    
    .admin-logout {
      margin: 0 auto;
      text-align: center;
    }
    
    .button.admin-log-out {
      text-align: center;
      margin: 15px auto 5px auto;
      width: 60%;
    }



  }    



// tablet HORIZONTAL:

@media (min-width: 1024px){
   
    /* main app homepage */


    input.home-search-bar.mobile {
      display: none;
    }

    a.button.main.mobile {
      display: none;
    }

    .fork-imageH.mobile {
      display: none;
    }
    
    .fork-imageH.tabletV {
      display: none;
    }
    
    .fork-imageH.desktop {
      display: none;
    }


    .app-background {
      background-image: asset_url("WGH-BGonly-H1300px.jpg");
      background-size:cover; 
      background-repeat:no-repeat;
      background-attachment:fixed;
      // position: relative;
      height: 100vh;
      background-color: transparent;
      overflow: hidden;
    } 

    .site-header {
      background-color: transparent;
    }

    .fork-imageV.tabletH {

      background-image: asset_url("WGH-fork-fullheight-tH.png");
      // width: 100vw;
      height: 20%;
      display: block;
      width: 100%;
      background-repeat:no-repeat;
      background-size:cover; 
  }

    .app-title {
      margin: 0 auto;
      padding: 80px 0 15px 0;
      max-width: 85vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 6rem;
      line-height: 6.25rem;
      vertical-align: top;
      text-align: center;
      color: #424949;
      margin-bottom: 30%;
    }


    .q-mark {
      color: #FDFEFE;
    }
    
    .site-subhead {
      margin-top: 20px;
    }
    
    .app-subhead {
      color: #424949;
      margin: 0 auto;
      max-width: 85vw;
      font-family: 'Pacifico', cursive;
      // font-size: 22px;
      // line-height: 30px;
      font-size: 2.75rem;
      line-height: 3.25rem;
      text-align: center;
      vertical-align: top;
    }
    
    .home-search-area {
      /* display: inline-flex;
      align-content: flex-end; */
      margin-top: 5%;
      vertical-align: top;
      width: 75%;
      align-self: center;
      /* align-content: center; */
    }
    
    .input.home-search-bar {
      display: block;
      background: #C1E5AA;
      border: #FDFEFE;
    }
    
    .or-between {
      // display: inline-block;
    
      font-weight: bold; 
      text-align: center;
      align-self: center;
      margin: 0 auto;

    }
    
    .home-browse-button {
      margin: 10px auto 30px auto;
      text-align: center;
    }
    
    .button.main {
      background: #C1E5AA;
      border: #FDFEFE;
      color: #424949;
      margin: 0 auto;
      font-weight: 400;
      // align-self: center;
    }
}       

  
// desktop:

    /* main app homepage */
  @media (min-width: 1200px){

    input.home-search-bar.mobile {
      display: none;
    }

    a.button.main.mobile {
      display: none;
    }

    .app-background {
      background-image: asset_url("WGH-BGonly-H1300px.jpg");
      background-size:cover; 
      background-repeat:no-repeat;
      background-attachment:fixed;
      // position: relative;
      height: 100vh;
      background-color: transparent;
      overflow: hidden;
    } 

    .fork-imageV.desktop {
      background-image: asset_url("WGH-fork-fullheight-d.png");
      // width: 100vw;
      height: 20%;
      display: block;
      width: 100%;
      background-repeat:no-repeat;
      background-size:cover; 
  }

  .fork-imageH.mobile {
    display: none;
  }
  
  .fork-imageH.tabletV {
    display: none;
  }
  
  .fork-imageH.tabletH {
    display: none;
  }

} 