<div class="edit-form">
<%= form_with model: hack, class:"edit-hack-form" do |f| %>

  <%= f.text_field :hack_detail, id: 'hack-detail-field', class: 'input add-new-item' %> 
  <%= f.submit "Update Tip", id: 'hack_submit', class:"button save-entry" %>

<% end %>
</div>