
<div class="secondary-view-header"><i class='fas fa-map-marker-alt'></i><br>What's Here<span class="secondary-vew-header-q">?</span></div>


<% @browse.each do |profile| %>
    <div class="browse-list-item"><%= link_to profile.restaurant, profile_path(profile), class: "browse-list-item" %></div>
    <div class="list-divider">•</div>
<% end %>
