<div class="app-container home">
  <div class="app-background">
  <%# <div id="homepage-image">
    <img src="WGH-fork-mobile.jpg" />
  </div> %>

  <header class="site-header">
    <div class="app-title">What's <br> Good <br> Here<span class="q-mark">?</span></div>
  </header>

  <div class="site-subhead">
    <div class="app-subhead">Scope out everything <br> you need to know about Durham’s <br> restaurants and bars</div>
  </div>

  <div class="home-search-area">
    <div class="field">
        <div class="control">
        <%= form_tag(browse_path, method: :get) do %>
          <%= text_field_tag :restaurant, params[:restaurant], :class => 'input home-search-bar', :type => 'text', :placeholder => 'search for venue'  %>
        <% end %>
              <%# <span class="icon is-left">
              <i class="fas fa-search"></>
            </span> %>
        </div>
    </div>
    
    <div class="or-between">or</div>
      </div>
      <div>
      <%= link_to 'see list', browse_path, :class => 'button main' %>
</div>
   
  
  </div>
</div>
