<header class='site-header'>
<h1>hompage, search and browse</h1>
</header>
<div id='search'>
<input type='search'>Search</input>
<button>browse</button>
</div>
<div id='homepage-image'>
<img src='#'>
</div>